

@import "normalize.less";

body {
	font-size: 100%;
	line-height: 26px;
	background: #f6efe5;
	color:#333333;
}

a {
	color:#333333;
	text-decoration: none;
	border-bottom: 1px solid #333333;
}

a:hover {
	color:#666666;
	border-bottom: 1px solid #666666;
}

// ==========================================================================
// headers
// ==========================================================================

.intro {
	overflow: hidden;
	padding:0;
	margin:0;
}

header {
	// background:pink;
	overflow:hidden;
	width:40%;
	height: 50em;
	float:left;
	position:relative;
}

h1 {
	position: absolute;
	font-size: 100%;
	line-height: 2em;
	top: 3em;
	left: -3em;
	margin: 0;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

h2 {
	font-size: 250%;
	line-height: 1em;
	width:50%;
	float:right;
	background: #06a294 url(../img/circle.svg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 101%;
	height: 20.019em;
	margin:0 0 0 0;
	padding:7em 0.5em 0 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.summary {
	font-size: 100%;
	width:60%;
	float:left;
	// background:purple;
	background: url(../img/circle-white.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 101%;
	height: 50em;
	margin:0;
	padding:17.3em 2em 10em 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	p {
		padding:0 40% 2em 0 ;
		margin:0;
		// background:plum;
	}
}


.preamble {
	position: relative;
	float:left;
	width:60.1%;
	margin:0 0 0 20%;
	padding:2em 0.5em 27em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	h3 {
		margin-right:35%;
	}
	p {
		margin-right:35%;
	}
	p:last-child {
		position: absolute;
		z-index: 2;
	 	background: rgba(232,66,48,0.9);
	  	width:33.650%;
	  	top:-1em;
	  	right:0;
	  	margin-right:0;
	  	padding: 6em 0.5em 8em 0.5em;
	  	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.main {
	background: url(../img/eameshouse.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
	top:-25em;
	margin-bottom:10em;
	padding:20em 0;
	position: relative;
	footer {
		// background:yellow;
		display:block;
		position: relative;
		left:0;
		bottom:0;
		width:20%;
		padding:0;
	  	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		a {
			margin:0 0.25em;
		}
	}
}

.explanation {
	position: relative;
	background: rgba(232,66,48,0.9);
	width:40%;
	margin:0;
	padding:0.5em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

.participation {
	// background: url(../img/circle.svg);
	// background-repeat: no-repeat;
	// background-position: left top;
	// background-size: 100%;
	background:#f6efe5;
	position: absolute;
	right:40%;
	z-index:2;
	margin-top:14em;
	width:40%;
	padding:0.5em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
.benefits {
	// background: url(../img/circle.svg);
	// background-repeat: no-repeat;
	// background-position: left top;
	// background-size: 100%;
	background: rgba(232,66,48,0.9);
	position: absolute;
	right:20%;
	z-index:2;
	margin-top:8em;
	margin-left:0;
	width:20%;
	padding:1em 0.5em 4em 0.5em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
.requirements {
	// background: url(../img/circle.svg);
	// background-repeat: no-repeat;
	// background-position: left top;
	// background-size: 100%;
	// background:#f6efe5;
	position: absolute;
	right:0;
	z-index:2;
	margin-top:48em;
	width:60%;
	padding:0.5em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}


.sidebar {
	margin-top:13em;

}

.design-selection h3 {
	// background:pink;
	width:100%;
	float:left;
	padding:10.5em 0 0 0;
	text-align: left;
}

.design-selection {
	nav {
		overflow:hidden;
		width:60%;
		// background:pink;
		ul {
			padding:2em 0;
			background:#ec9322;
			overflow:hidden;
			li{
				display:inline-block;
				list-style: none;
				width:100%;
				float:left;
				padding:3em 0.5em;
			    -webkit-box-sizing: border-box;
	            -moz-box-sizing: border-box;
		        box-sizing: border-box;
		        text-align: left;
			}
			li:nth-child(3), li:nth-child(7) {  
			 //  	background:  #f37420 url(../img/circle.svg);
				// background-repeat: no-repeat;
				// background-position: center top;
				// background-size: 50%;
			  // padding:4em 0;
			}
			li:nth-child(1)::before {content: "1";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(2)::before {content: "2";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(3)::before {content: "3";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(4)::before {content: "4";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(5)::before {content: "5";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(6)::before {content: "6";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(7)::before {content: "7";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
			li:nth-child(8)::before {content: "8";font-size:700%; padding:0 1em 0 0; color:rgba(0,0,0,0.1)}
		}
	}
}


.design-archives {
	background:pink;
	width:20%;
	float:right;
	nav {
		overflow:hidden;
		width:100%;
	}
	ul {
		padding:0;
		overflow:hidden;
		li{
			display:inline-block;
			list-style: none;
			width:100%;
			float:left;
			padding:0.5em;
		    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        text-align: left;
		}
	}
}



// ==========================================================================
// page wrapper
// ==========================================================================
.page-wrapper {
	// background: purple;
	position: relative;
	width:100%;
	max-width: 110em;
	margin:0 auto;
	padding:0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// ==========================================================================
// Intro
// ==========================================================================
